/* src/pages/Home.css */
.home-container {
  background-image: url('/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: 20%;
  background-position: flex-start;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  gap: 120px;
  height: 1200px;

  .hero {
    margin: 100px 0px 0px 0px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    padding: 20px;
    border-radius: 8px;

    h1 {
      margin-bottom: 40px;
    }

    p {
      margin-bottom: 20px;
    }

    .social-links a {
      margin: 0 25px;

      .logo {
        width: 50px;
        height: 50px;
        border-radius: 30%;
      }

      .logo:hover {
        cursor: pointer;
      }
    }
  }
}
