.background-grid {
  background: url('./fond-proj4.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 20%;
  background-size: cover;

  .project-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 4 colonnes de taille égale */
    grid-template-rows: repeat(
      3,
      auto
    ); /* 3 rangées auto-ajustables en hauteur */
    gap: 150px;
    padding: 120px 400px 120px 120px;

    .project-card {
      opacity: 0;
      transition: opacity 1s ease-in-out;
    }

    .fade-in {
      opacity: 0;
      animation: fadeIn 0.8s forwards;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    .project-card {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      background-color: #08080883;
      border-radius: 3px;
      box-shadow: 0 0px 15px rgba(0, 0, 0, 0.767);
      backdrop-filter: blur(20px);
      position: relative;

      .project-container {
        display: flex;
        flex-direction: column;
        padding: 10px 0px 0px 30px;

        .project-title {
          margin: 0 0 8px 0;
        }

        .description-info {
          display: flex;
          flex-direction: column;
          width: 1000px;
          min-height: 400px;
          padding-right: 400px;

          .img-info {
            margin-top: 25px;
            align-self: center;
            width: 700px;
          }
        }
      }

      .youtube-info {
        display: flex;
        justify-content: center;
        position: absolute;
        right: -100px;
        top: 0;
        margin-top: 85px;
        .project-thumbnail {
          border-radius: 10px;
          width: auto;
          height: 250px;
          transition: transform 0.2s ease, box-shadow 0.1s ease;
          cursor: pointer;
          box-shadow: 0 0px 10px rgba(0, 0, 0, 0.76);
        }

        .project-thumbnail:hover {
          transform: scale(1.02);
          box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.699);
        }
      }
    }
  }
}
