#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.gallery-container {
  background-image: url('./sheet.jpg');
  z-index: 0;
  background-attachment: fixed;
  background-position: 20%;
}
