:root {
  font-family: 'Lexend Deca', system-ui;
  font-optical-sizing: auto;
  font-style: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

* {
  font-family: 'Lexend Deca', system-ui;
  font-weight: 200;
}

.heroName-font {
  font-family: 'Space Grotesk', sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
